<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>痛哭</string>
	<string>笑</string>
	<string>愤怒</string>
	<string>汗</string>
	<string>发呆</string>
	<string>震惊</string>
	<string>称赞</string>
	<string>恐惧</string>
	<string>迷茫</string>
	<string>莫名其妙</string>
	<string>傲娇</string>
	<string>蒙眼</string>
	<string>崇拜</string>
	<string>阴险</string>
	<string>寂寞</string>
	<string>耍酷</string>
	<string>一本正经</string>
	<string>凄凉</string>
	<string>喝倒彩</string>
	<string>反对</string>
	<string>赞同</string>
	<string>疑惑</string>
	<string>伤心</string>
	<string>激动</string>
	<string>做鬼脸</string>
	<string>哼歌</string>
	<string>偷懒</string>
	<string>无语</string>
	<string>认真</string>
	<string>哲学</string>
	<string>FFF</string>
	<string>碇司令</string>
	<string>偷偷瞄</string>
	<string>GJ</string>
	<string>niconiconi</string>
	<string>面白</string>
	<string>ahe颜</string>
	<string>在下输了</string>
	<string>高潮</string>
	<string>斜眼</string>
	<string>爱慕</string>
	<string>嘲讽</string>
	<string>微笑就可以了</string>
	<string>怪我喽</string>
</array>
</plist>
